    <div class="text-center m-4">
        <hr>
        <h1>{{titulo}}</h1>
    <div class="mt-2 mb-2 text-center">
            <a href="/ingresar" class="btn m-2 btn-info"><span class="bi bi-plus-circle"></span> Agregar Juegos</a>
            <a href="/admin" class="btn m-2 btn-info"><span class="bi bi-controller"></span> Administrar Juegos</a>
            <a href="/mensajes" class="btn m-2 btn-info"><span class="bi bi-envelope-plus"></span> Gestionar Mensajes</a>

    </div>



        <hr>
    </div>