<div class="container primer-div">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item banner active">
      <img src="../img/jedi-fallen-banner.webp" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Star Wars Jedi: Fallen Order</h5>
        <p>Videojuego de acción y aventuras ambientado dentro del universo ideado por George Lucas, concretamente entre los episodios tercero y cuarto de la saga cinematográfica</p>
      </div>
    </div>
    <div class="carousel-item banner">
      <img src="../img/spiderman-banner.webp" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Spider-Man</h5>
        <p>En el espectacular Marvel's Spider-Man te esperan saltos, combos de combates, carreras y acrobacias.</p>
      </div>
    </div>
    <div class="carousel-item banner">
      <img src="../img/good-of-war-banner.webp" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>God of War</h5>
        <p>Las aventuras de Kratos a una ambientación nórdica de lo más llamativa donde retorna su carismático protagonista en una historia de padre e hijo.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<div class="container">
    <div class="mt-4 mb-3">
    <h3>Juego destacados</h3>
    </div>
    <div class="row mb-4">
        <div class="col-6 col-md-2 ">
          <button type="button" class="btn-juegos" data-bs-toggle="modal" data-bs-target="#juego_death">
                <img class="image-game mb-2" src="../img/games/death stranding.webp" alt="">
                <p>Death Stranding</p>

          </button>        
        </div>
        <div class="col-6 col-md-2">
                    <button type="button" class="btn-juegos" data-bs-toggle="modal" data-bs-target="#juego_far">
            <img class="image-game mb-2" src="../img/games/farcry5.webp" alt="">
                <p>Far Cry 5</p></button>
        </div>
        <div class="col-6 col-md-2">
          <button type="button" class="btn-juegos" data-bs-toggle="modal" data-bs-target="#juego_forza">
            <img class="image-game mb-2" src="../img/games/forzahorizon4.jpg" alt="">
                <p>Forza Horizon 4</p></button>
        </div>
        <div class="col-6 col-md-2">
          <button type="button" class="btn-juegos" data-bs-toggle="modal" data-bs-target="#juego_god">
            <img class="image-game mb-2" src="../img/games/godofwar.webp" alt="">
                <p>God of war</p></button>
        </div>
        <div class="col-6 col-md-2">
          <button type="button" class="btn-juegos" data-bs-toggle="modal" data-bs-target="#juego_horizon">
            <img class="image-game mb-2" src="../img/games/horizon.webp" alt="">
                <p>Horizon</p></button>
        </div>
        <div class="col-6 col-md-2">
          <button type="button" class="btn-juegos" data-bs-toggle="modal" data-bs-target="#juego_resident">
            <img class="image-game mb-2" src="../img/games/re8v.webp" alt="">
                <p>Resident Evil 8</p></button>
        </div>
    </div>
    <div class="mt-4 mb-3">
    <h3>Últimos lanzamientos</h3>
    </div>
    <div class="row mb-4">
      <div class="col-md-4">
        <img class="image-game mb-2" src="../img/games/spiderman.webp" alt="">
        <h3>Marvel's Spider-Man Remasterizado</h3>
        <p>Marvel’s Spider-Man Remasterizado nos presenta una historia original llena de acción en la que veremos cómo las vidas de Peter Parker y Spider-Man chocan entre sí. Juega con un Peter Parker más experimentado que lucha contra organizaciones criminales y villanos emblemáticos en la Nueva York de Marvel.</p>
      </div>
      <div class="col-md-4">
        <img class="image-game mb-2" src="../img/games/gotham knights.webp" alt="">
        <h3>Gotham Knights</h3>
        <p>Haz ya la precompra y obtén la skin Kustom 233 para la batimoto. Batman está muerto. Ahora depende de la Batifamilia, Batichica, Ala Nocturna, Capucha Roja y Robin, proteger Ciudad Gótica.</p>
      </div>
      <div class="col-md-4">
        <img class="image-game mb-2" src="../img/games/a plague tale.webp" alt="">
        <h3>A Plague Tale: Requiem</h3>
        <p>Embárcate en una aventura desgarradora en un mundo maravilloso y brutal, y descubre el costo de salvar a los que quieres en una lucha por sobrevivir. Ataca desde las sombras o desata un infierno con armas, herramientas y poderes sobrenaturales.</p>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="juego_death" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Death Stranding</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                  <p>Death Stranding es el primer gran proyecto de Hideo Kojima tras su polémica salida de Konami, y después del cierre de su mano sobre la saga Metal Gear con el controvertido Metal Gear Solid 5: The Phantom Pain. El prestigioso creativo nipón recupera el pulso de los videojuegos con esta obra desarrollada por la propia Kojima Productions y que se lanza en PC y PlayStation 4. Presentado en el E3 2016, como uno de los grandes abanderados de Sony para su videoconsola PS4, el título ya fue adelantando durante su desarrollo algunos aspectos clave de sus personajes con la presentación de Ludens como mascota y logotipo del propio estudio.</p>
        <table>
          <tbody>

            <tr>
              <td><strong>Plataformas:</strong></td>
              <td> PC, PS4, PS5</td>
            </tr>
            <tr>
              <td><strong>Desarrollador:</strong></td>
              <td> Kojima Productions</td>
            </tr>
            <tr>
              <td><strong>Género:</strong></td>
              <td> Acción</td>
            </tr>
                        <tr>
              <td><strong>Jugadores:</strong></td>
              <td> 1</td>
            </tr>
                        <tr>
              <td><strong>Idioma:</strong></td>
              <td> Textos en español y voces en español</td>
            </tr>
                        <tr>
              <td><strong>Lanzamiento:</strong></td>
              <td> 2020</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a href="/contacto" class="btn btn-primary">comprar</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="juego_far" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Far Cry 5</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                  <p>Ambientado en la región de Hope County, en Montana, Far Cry 5 es la quinta entrega numerada de la saga de videojuegos de Ubisoft, Far Cry. Una marca que nos ha llevado por ambientaciones modernas y también prehistóricas, así como a través de lugares de lo más exótico. En esta ocasión el videojuego de acción y aventura o shooter nos lleva de la mano a Estados Unidos para explorar sorprendentes horizontes en un planteamiento de mundo abierto en el que los disparos, los vehículos y los animales salvajes siguen teniendo una importancia capital.</p>
        <table>
          <tbody>

            <tr>
              <td><strong>Plataformas:</strong></td>
              <td> PS4, Xbox One</td>
            </tr>
            <tr>
              <td><strong>Desarrollador:</strong></td>
              <td> UbiSoft</td>
            </tr>
            <tr>
              <td><strong>Género:</strong></td>
              <td> Acción</td>
            </tr>
                        <tr>
              <td><strong>Jugadores:</strong></td>
              <td> 1-2 (Cooperativo: 2 online)</td>
            </tr>
                        <tr>
              <td><strong>Idioma:</strong></td>
              <td> Textos en español y voces en español</td>
            </tr>
                        <tr>
              <td><strong>Lanzamiento:</strong></td>
              <td> 2018</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a href="/contacto" class="btn btn-primary">comprar</a>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="juego_forza" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Forza Horizon 4</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                  <p>Forza Horizon 4 continúa explorando el lado más arcade de la saga Forza Motorsport con un nuevo y bellísimo videojuego de conducción que tiene por identidad un estilo menos cercano a la simulación que el de la franquicia de Turn 10. Esta vez, Playground Games lleva al usuario con Forza Horizon 4 a recorrer una hermosa Gran Bretaña histórica en un mundo abierto compartido donde el usuario podrá coleccionar, modificar y manejar más de 450 coches.</p>
        <table>
          <tbody>

            <tr>
              <td><strong>Plataformas:</strong></td>
              <td> PC, Xbox Series, Xbox One</td>
            </tr>
            <tr>
              <td><strong>Desarrollador:</strong></td>
              <td> Playground Games</td>
            </tr>
            <tr>
              <td><strong>Género:</strong></td>
              <td> Carreras</td>
            </tr>
                        <tr>
              <td><strong>Jugadores:</strong></td>
              <td> 1-12 (Competitivo: 2-12 online / Cooperativo: 2-12 online)</td>
            </tr>
                        <tr>
              <td><strong>Idioma:</strong></td>
              <td> Textos en español y voces en inglés</td>
            </tr>
                        <tr>
              <td><strong>Lanzamiento:</strong></td>
              <td> 2018</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a href="/contacto" class="btn btn-primary">comprar</a>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="juego_god" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">God of war</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                  <p>Vídeojuego de la saga God of War que responde al escueto nombre de God of War, y que traslada su fórmula jugable desde la antigua Grecia de las aventuras de Kratos a una ambientación nórdica de lo más llamativa donde retorna su carismático protagonista en una historia de padre e hijo que promete recuperar una parte de la humanidad perdida del espartano gracias a la presencia de su vástago, de nombre Atreus, y que es parte capital de la campaña individual, como siempre, punto fundamental del atractivo de esta legendaria serie de hack and slash con contextos mitológicos tras de sí. De hecho, y tras el experimento del on-line de God of War Ascension, desde Sony se ha garantizado que en esta entrega no habrá elemento multijugador.</p>
        <table>
          <tbody>

            <tr>
              <td><strong>Plataformas:</strong></td>
              <td> PS4, PC</td>
            </tr>
            <tr>
              <td><strong>Desarrollador:</strong></td>
              <td> Sony Santa Monica</td>
            </tr>
            <tr>
              <td><strong>Género:</strong></td>
              <td> Acción</td>
            </tr>
                        <tr>
              <td><strong>Jugadores:</strong></td>
              <td> 1</td>
            </tr>
                        <tr>
              <td><strong>Idioma:</strong></td>
              <td> Textos en español y voces en español</td>
            </tr>
                        <tr>
              <td><strong>Lanzamiento:</strong></td>
              <td> 2018</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a href="/contacto" class="btn btn-primary">comprar</a>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="juego_horizon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Horizon: Forbidden West</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                  <p>Horizon: Forbidden West es la continuación de las aventuras de Aloy para PS5 y PS4 tras la exitosa recepción de Horizon: Zero Dawn, y nos lleva a otra tierra de fantasía de manos de Guerrilla Entertainment autores, además, de la saga Killzone. En concreto, la historia de este videojuego sigue los pasos de Aloy mientras avanza hacia el oeste en una América de un futuro lejano para enfrentar una frontera majestuosa, pero amenazante, en la que se enfrentará a máquinas asombrosas y nuevas amenazas misteriosas. Sus responsables apuestan a ofrecer con Horizon: Forbidden West una producción aún más bella y realista que saque partido al hardware de PlayStation 5.</p>
        <table>
          <tbody>

            <tr>
              <td><strong>Plataformas:</strong></td>
              <td> PS4, PS5</td>
            </tr>
            <tr>
              <td><strong>Desarrollador:</strong></td>
              <td> Guerrilla Games</td>
            </tr>
            <tr>
              <td><strong>Género:</strong></td>
              <td> Mundo Abierto</td>
            </tr>
                        <tr>
              <td><strong>Jugadores:</strong></td>
              <td> 1</td>
            </tr>
                        <tr>
              <td><strong>Idioma:</strong></td>
              <td> Textos en español y voces en español / inglés
</td>
            </tr>
                        <tr>
              <td><strong>Lanzamiento:</strong></td>
              <td> 2022</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a href="/contacto" class="btn btn-primary">comprar</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="juego_resident" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">	Resident Evil 8: Village</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                  <p>Resident Evil 8 para PC, PS4, Xbox One, PS5 y Xbox Series es una nueva entrega de la saga RE que, en esta ocasión, cumple todos los rumores y nos lleva a una ambientación marcada por el frío y la nieve y nos pone ante los peligrosisimos y perturbadores hombres lobo que se habían venido comentando en los últimos tiempos, pero también contra los peligrosos vampiros liderados por la gigantesca Lady Dimitrescu. Al igual que Resident Evil 7, la octava entrega de la serie se caracteriza por su perspectiva en primera persona y por tener una ambientación de terror cuidadísima que, según algunos, tiene fuertes vínculos con el cuarto y memorable episodio de la franquicia.</p>
        <table>
          <tbody>

            <tr>
              <td><strong>Plataformas:</strong></td>
              <td> PC, PS4, PS5, Xbox Series, Xbox One</td>
            </tr>
            <tr>
              <td><strong>Desarrollador:</strong></td>
              <td> Capcom</td>
            </tr>
            <tr>
              <td><strong>Género:</strong></td>
              <td> Acción</td>
            </tr>
                        <tr>
              <td><strong>Jugadores:</strong></td>
              <td> 1</td>
            </tr>
                        <tr>
              <td><strong>Idioma:</strong></td>
              <td> Textos en español y voces en español / inglés
</td>
            </tr>
                        <tr>
              <td><strong>Lanzamiento:</strong></td>
              <td> 2021</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a href="/contacto" class="btn btn-primary">comprar</a>
      </div>
    </div>
  </div>
</div>
