<div class="container primer-div">
        <div class="row">
        <div class="col-md-6 offset-md-3">
    <div class="text-center m-4">
        <hr>
        <h1>{{titulo}}</h1>
        <hr>
    </div>
    <div class="row">
        <form action="/login" method="post">
        
            <div class="input-group mb-3">
                <span class="input-group-text">Usuario:</span>
                <input type="text" class="form-control" name="username" placeholder="xxxxx">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Password:</span>
                <input type="password" class="form-control" name="password" placeholder="******">
            </div>

            <div class="mb-3 text-center">
                <input type="submit" class="button btn-primary w-50 p-2" value="Enviar Datos">
            </div>
        </form>

    </div></div></div>
</div>
